---
layout: default
---

<h2>Regional OpenVPN Configurations</h2>
<p>We use our own private DNS servers for your DNS queries while on the VPN, and we automatically route some website trough United-States allowing you to access Geo-blocked content even if you have a EU or FR ips.</p>

<div class="configs">
  {% for country in site.data.config %}
  <div class="config">
    <h3>
      {{ country.name }}
    </h3>
    <p>
      <a href="{{ country.default.file }}" class="btn">Download</a>
    </p>
    Other encryptions:<br/>
    {% for config in country.configurations %}
        <a href="{{ config.file }}" class="encryption">{{ config.encryption }}</a>
    {% endfor %}
  </div>
  {% endfor %}
</div>

<hr>

<p>&copy; {{ site.time | date: '%Y' }} <a href="https://vpn.ht/">VPN.ht</a></p>
